.hh-box{
    width: 180px;   height: 200px;
    border: 1px solid black; position: relative; text-align: center;
    display: inline-block;
    margin: 33px 5px 5px 5px;
}
.hh-box:hover{
    box-shadow: 0 0 30px rgb(28, 28, 49);
}
.hh-box-icon{
    position: absolute; top: 0; right: 0; width: 50px;
}
.hh-box-price{
    position: absolute; bottom: 2px; left: 5px; font-weight: bolder; color: rgb(27, 4, 131); background-color:rgba(230, 78, 78, 0.404);
}
.hh-box-price:hover{
    font-size: x-large; color: rgb(141, 0, 0); background-color: white;
}
.hh-box-image{
    width: 180px; margin-top: 10px ;
}
.hh-box-name{
    position: absolute; top: -30px; left: -1px; background-color: rgba(0, 255, 255, 0.507); font-size: x-large; width: inherit; border: 1px solid black;
}